<%= render 'sidebar' %>
<div class="main_content">index placeholder
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
</div>